:root {
    --primary-text-color: #757575;
    --secondary-text-color: #212121;
    --primary-color: #FFFFFF;
    --secondary-color: #2196F3;
    --hover-color: #188CE8;
    --primary-bgc: #2F303A;
    --secondary-bgc: #F5F4FA;
    --sprite-color: #AFB1B8;
    --sprite-bgc: rgba(255, 255, 255, 0.1);
    --timing-func: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        line-height: 1.7;
        letter-spacing: 0.03em;
        color: var(--primary-text-color);
        background-color: var(--primary-color);
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

h1, h2, h3, p {
        margin: 0;
}

img {
        display: block;
}

.container {
        width: 1200px;
        margin: 0 auto;
        padding: 0 15px;
}

/* Стили шапки */

.logo {
        margin-right: 93px;

        color: var(--secondary-color);

        font-family: 'Raleway';
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        word-spacing: -0.24em;
}

.logo-end {
        color: #000000;
}

.page-nav {
        display: flex;
        align-items: center;
}

.nav__list {
        display: flex;
}

.nav__link {
        display: block;
        padding: 32px 0;

        color: var(--secondary-text-color);

        font-weight: 500;
        line-height: 1.14;
        letter-spacing: 0.02em;

        transition: color 250ms var(--timing-func);
}

.nav__link:hover,
.nav__link:focus,
.active__link {
        color: var(--secondary-color);
}

.active__link {
        position: relative;
}

.active__link::after {
        content: '';
        position: absolute;
        bottom: 0;
        display: block;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: var(--secondary-color);
}

.active__link:hover::after,
.active__link:focus::after {
        animation: scaleline 250ms var(--timing-func);
}

@keyframes scaleline {
        0% {
               transform: scale(0);
        }
        100% {
                transform: scale(1);
        }
}

.nav__list .nav__item + .nav__item {
        margin-left: 50px;
}

.cont__list {
        display: flex;
        margin-left: auto;
}

.cont__icon {
        margin-right: 10px;
        fill: var(--primary-text-color);

        transition: fill 250ms var(--timing-func);
}

.cont__link {
        display: flex;
        padding: 32px 0;
        align-items: center;

        color: var(--primary-text-color);

        font-weight: 500;
        line-height: 1.14;
        letter-spacing: 0.02em;

        transition: color 250ms var(--timing-func);
}

.cont__link:hover,
.cont__link:focus {
        color: var(--secondary-color);
}
.cont__link:hover .cont__icon,
.cont__link:focus .cont__icon {
        fill: currentColor;
}

.cont__list .cont__item + .cont__item {
        margin-left: 50px;
}

.header__cont {
        display: flex;
}

.page-header {
        border-bottom: 1px solid #ECECEC;
}

/* Стили героя */

.hero {
        padding: 200px 0;
        text-align: center;
        max-width: 1600px;
        height: 600px;
        margin: 0 auto;
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/hero-img.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
}

.hero__title {
        margin: 0 auto 30px auto;
        max-width: 696px;

        color: var(--primary-color);

        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        letter-spacing: 0.06em;
        text-transform: uppercase;
}

.hero__btn {
        padding: 10px 32px;

        color: var(--primary-color);
        background-color: var(--secondary-color);
        border: none;
        border-radius: 4px;
        
        font-family: inherit;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
        text-align: center;
        letter-spacing: 0.06em;
        cursor: pointer;

        transition: background-color 250ms var(--timing-func);
}

.hero__btn:hover, .hero__btn:focus {
        background-color: var(--hover-color);
}

/* Стили особенностей работы */

.section {
        padding: 94px 0;
}

.visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
}

.feature__list {
        display: flex;
}

.feature__list .feature__card + .feature__card {
        margin-left: 30px;
}

.feature__cont {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 270px;
        height: 120px;
        background-color: var(--secondary-bgc);
        border-radius: 4px;
}

.feature__icon {
        width: 70px;
        height: 70px;
}

.feature__card {
        text-align: left;
}

.feature__title {
        margin: 30px 0 10px 0;

        color: var(--secondary-text-color);

        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        text-transform: uppercase;
}

.feature__text {
        width: 270px;
}

.section__title {
        margin-bottom: 50px;

        color: var(--secondary-text-color);

        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        text-align: center;
}

.feature__sect {
        padding-bottom: 0;
}

/* Стили деятельности */

.activity__list {
        display: flex;
}

.activity__list .activity__item + .activity__item {
        margin-left: 30px;
}

.activity__thumb {
        position: relative;
}

.activity__label {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 70px;
        bottom: 0;

        background-color: rgba(47, 48, 58, 0.8);
}

.activity__text {
        color: var(--primary-color);

        font-weight: 700;
        line-height: 1.14;
        text-align: center;
        text-transform: uppercase;
}

/* Стили команды */

.team__sect {
        background-color: var(--secondary-bgc);
}

.team__list {
        display: flex;
}

.team__list .team__card + .team__card {
        margin-left: 30px;
}

.team__card {
        border-radius: 0px 0px 4px 4px;
        background-color: var(--primary-color);
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.team__text {
        padding-top: 30px;
        font-size: 16px;
        line-height: 1.19;
        text-align: center;
}

.team__name {
        margin-bottom: 10px;

        color: var(--secondary-text-color);

        font-weight: 500;
}

.team__social {
        padding: 16px 0 30px 0;
}

.social__list {
        display: flex;
        justify-content: center;
}

.social__list .social__item + .social__item {
        margin-left: 10px;
}

.social__item {
        width: 44px;
        height: 44px;
}

.social__link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        border-radius: 50%;

        transition: background-color 250ms var(--timing-func);
}

.social__icon {
        width: 20px;
        height: 20px;
        fill: var(--sprite-color);

        transition: fill 250ms var(--timing-func);
}

.social__link:hover,
.social__link:focus {
        background-color: var(--secondary-color);
}

.social__link:hover .social__icon,
.social__link:focus .social__icon {
        fill: var(--primary-color);
}

/* Стили клиентов */

.client__list {
        display: flex;
}

.client__list .client__item + .client__item {
        margin-left: 30px;
}

.client__item {
        width: 170px;
        height: 92px;
}

.client__link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        outline: 1px solid var(--sprite-color);
        border-radius: 4px;

        transition: outline 250ms var(--timing-func);
}

.client__icon {
        width: 106px;
        height: 60px;
        fill: var(--sprite-color);

        transition: fill 250ms var(--timing-func);
}

.client__link:hover,
.client__link:focus {
        outline: 1px solid var(--secondary-color);
}

.client__link:hover .client__icon,
.client__link:focus .client__icon {
        fill: var(--secondary-color);
}

/* Стили подвала */

.page-footer {
        padding: 60px 0;
        background-color: var(--primary-bgc);
}

.foot__cont {
        display: flex;
        align-items: baseline;
}

.logo-foot {
        display: block;
        margin-bottom: 20px;

        color: var(--secondary-color);

        font-family: 'Raleway';
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        word-spacing: -0.24em;
}

.logo-end-foot {
        color: var(--primary-color);
}

.cont-foot__list {
        font-style: normal;
}

.contact-first {
        color: var(--primary-color);
}

.cont-foot__list .cont-foot__item + .cont-foot__item {
        margin-top: 9px;
}

.cont-foot__link {
        color: rgba(255, 255, 255, 0.6);

        transition: color 250ms var(--timing-func);
}

.cont-foot__link:hover,
.cont-foot__link:focus {
        color: var(--secondary-color);
}

.social-foot__cont {
        margin-left: 70px;
}

.social-foot__text {
        margin-bottom: 20px;
        color: var(--primary-color);

        font-weight: 700;
        line-height: 1.14;
        text-transform: uppercase;
}

.social-foot__list {
        display: flex;
}

.social-foot__list .social-foot__item + .social-foot__item {
        margin-left: 10px;
}

.social-foot__item {
        width: 44px;
        height: 44px;
}

.social-foot__link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: var(--sprite-bgc);

        transition: background-color 250ms var(--timing-func);
}

.social-foot__icon {
        width: 20px;
        height: 20px;
        fill: var(--primary-color);

        transition: fill 250ms var(--timing-func);
}

.social-foot__link:hover,
.social-foot__link:focus {
        background-color: var(--secondary-color);
}

.mailing__cont {
        margin-left: auto;
}

.mailing__form {
        display: flex;
}

.mailing__input {
        padding: 15px;
        width: 358px;
        height: 50px;
        background-color: var(--primary-bgc);
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 4px;

        color: rgba(255, 255, 255, 0.6);
        transition: border 250ms var(--timing-func), box-shadow 250ms var(--timing-func);
}

.mailing__input::placeholder {
        color: rgba(255, 255, 255, 0.6);
}

.mailing__input:hover,
.mailing__input:focus {
        border: 1px solid var(--secondary-color);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        outline: none;
}

.mailing__btn {
        padding: 10px 29px;
        margin-left: 12px;
        display: flex;
        align-items: center;

        color: var(--primary-color);
        background-color: var(--secondary-color);
        border: none;
        border-radius: 4px;

        font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
        letter-spacing: 0.06em;
        cursor: pointer;

        transition: background-color 250ms var(--timing-func), box-shadow 250ms var(--timing-func);
}

.mailing__btn:hover,
.mailing__btn:focus {
        background-color: var(--hover-color);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.mailing__icon {
        margin-left: 10px;
        width: 24px;
        height: 24px;
}

/* Стили портфолио */


/* Стили фильтров */

.filter__list {
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
}

.filter__list .filter__item + .filter__item {
        margin-left: 8px;
}

.filter__btn {
        padding: 6px 22px;

        color: var(--secondary-text-color);
        background-color: var(--secondary-bgc);
        border: none;
        border-radius: 4px;
        
        font-family: inherit;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.63;
        text-align: center;
        cursor: pointer;

        transition: color 250ms var(--timing-func), background-color 250ms var(--timing-func), box-shadow 250ms var(--timing-func);
}

.filter__btn:active,
.filter__btn:hover,
.filter__btn:focus {
        color: var(--primary-color);
        background-color: var(--secondary-color);
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Стили проектов */

.project__list {
        display: flex;
        flex-wrap: wrap;

        background-color: var(--primary-color);

        text-align: left;
}

.project__list .project__card {
        margin: 0 30px 30px 0;
}

.project__card:nth-of-type(3n) {
        margin-right: 0;
}

.project__card:nth-last-of-type(-n+3) {
        margin-bottom: 0;
}

.project__text {
        padding: 20px 24px;
        border-bottom: 1px solid #EEEEEE;
        border-left: 1px solid #EEEEEE;
        border-right: 1px solid #EEEEEE;
}

.project__title {
        margin-bottom: 4px;

        color: var(--secondary-text-color);

        font-weight: 700;
        font-size: 18px;
        line-height: 2.0;
        letter-spacing: 0.06em;
}

.project__desc {
        color: var(--primary-text-color);
        
        font-size: 16px;
        line-height: 1.88;
}

.project__link {
        display: block;

        transition: box-shadow 250ms var(--timing-func);
}

.project__thumb {
        position: relative;
        overflow: hidden;
}

.project__overlay {
        position: absolute;
        top: 0;
        height: 100%;

        background-color: rgba(33, 150, 243, 0.9);
        transform: translateY(100%);
        transition: transform 250ms var(--timing-func);
}

.project__link:hover .project__overlay {
        transform: translateY(0);
}

.overlay__text {
        padding: 63px 24px;
        color: var(--primary-color);

        font-size: 18px;
        line-height: 1.56;
}

.project__link:hover,
.project__link:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

/* Модальное окно */

.modal__backdrop {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        visibility: 1;
        opacity: 1;
        transform: scale(1);

        background: rgba(0, 0, 0, 0.2);
        transition: opacity 250ms var(--timing-func), transform 250ms var(--timing-func);
}

.modal__backdrop.is-hidden {
        visibility: hidden;
        opacity: 0;
        transform: scale(0.5);
        pointer-events: none;
}

.modal__cont {
        position: absolute;
        padding: 40px;
        top: 50%;
        left: 50%;
        width: 528px;

        background: var(--primary-color);
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 4px;

        transform: translate(-50%, -50%);
}

.close__btn {
        position: absolute;
        top: 0;
        right: 0;
        margin: 8px 8px 0 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        background-color: var(--primary-color);
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 50%;
        cursor: pointer;

        transition: box-shadow 250ms var(--timing-func);
}

.close__btn:hover,
.close__btn:focus {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.close__btn:hover .close__icon,
.close__btn:focus .close__icon {
        fill: var(--secondary-color);
}

.modal__form {
        display: flex;
        flex-direction: column;
}

.modal__title {
        margin-bottom: 12px;

        color: var(--secondary-text-color);

        font-weight: 700;
        font-size: 20px;
        line-height: 1.15;
        text-align: center;
}

.modal__field {
        position: relative;
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        width: 100%;
}

.modal__label {
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.01em;
}

.modal__input {
        margin-top: 4px;
        padding: 11px 12px 11px 42px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;

        transition: border 250ms var(--timing-func);
}

.modal__input:hover,
.modal__input:focus {
        border: 1px solid var(--secondary-color);
        outline: none;
}

.modal__icon {
        position: absolute;
        top: 50%;
        left: 12px;
        width: 18px;
        height: 18px;

        transition: fill 250ms var(--timing-func);
}

.modal__svg {
        width: 100%;
        height: 100%;
}

.modal__input:hover + .modal__icon,
.modal__input:focus + .modal__icon {
        fill: var(--secondary-color);
}

.modal__comment {
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        width: 100%;
}

.modal__area {
        margin-top: 4px;
        padding: 12px 16px;
        height: 120px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        resize: none;

        font-size: 12px;

        transition: border 250ms var(--timing-func);
}

.modal__area:hover,
.modal__area:focus {
        border: 1px solid var(--secondary-color);
        outline: none;
}

.modal__area::placeholder {
        color: rgba(117, 117, 117, 0.5);

        transition: font-size 250ms var(--timing-func);
}

.modal__area:hover::placeholder,
.modal__area:focus::placeholder {
        font-size: 14px;
}

.modal__checkbox {
        margin-bottom: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
}

.checkbox {
        appearance: none;
}

.checkbox__icon {
        margin-right: 8px;
        width: 16px;
        height: 15px;
        border: 2px solid var(--secondary-text-color);
        border-radius: 2px;
        box-sizing: content-box;
}

.checkbox__svg {
        width: 100%;
        height: 100%;
}

.checkbox:checked + .checkbox__icon {
        border: none;
        background-color: var(--secondary-color);
}

.modal__link {
        padding-left: 4px;
        color: var(--secondary-color);
        text-decoration: underline;
}

.modal__btn {
        padding: 10px 55px;
        margin: 0 auto;

        text-align: center;

        background-color: var(--secondary-color);
        color: var(--primary-color);
        border: none;
        border-radius: 4px;

        font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
        letter-spacing: 0.06em;

        transition: background-color 250ms var(--timing-func), box-shadow 250ms var(--timing-func);
}

.modal__btn:hover,
.modal__btn:focus {
        background-color: var(--hover-color);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}