body {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    background-color: var(--primary-color);
  }

.section {
    padding: 94px 0;
}